@model List<Authentication.Models.User>

@{
    ViewData["Title"] = "User admin";
}


<div class="d-flex mb-3">
    <form class="form-inline" asp-controller="User" asp-action="AddUser">
        <input id="username" name="username" type="text" placeholder="username" class="form-control form-control-sm flex-fill mr-2" />
        <input id="email" name="email" type="email" placeholder="email address" class="form-control form-control-sm flex-fill" />
        <button type="submit" class="btn btn-sm btn-outline-primary ml-2">Add User</button>
    </form>
</div>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Authentication.Models.User user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.NormalizedEmail</td>
                <td style="white-space: nowrap; text-align: right">
                    <button class="btn btn-sm btn-outline-danger delete-btn" data-id="@user.Id" data-toggle="tooltip" title="Hold to delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts {
    <script asp-add-nonce="true">
        var deleting = false;

        // Implement delete button that has to be held down for delete
        // (as alternative to a confirmation page)
        function decrementTimer(button, time) {
            if (!deleting) return;

            time -= 1000;
            if (time == 0) {
                button.html('<i class="fas fa-hourglass-start"></i>');
                var id = button.data('id');
                window.location = '@(Url.Action("DeleteUser"))/' + id;
            } else {
                timeStr = (time / 1000) + "...";
                button.html(timeStr);
                setTimeout(function () {
                    decrementTimer(button, time)
                }, 1000);
            }
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('.delete-btn').mousedown(function () {
                deleting = true;
                decrementTimer($(this), 4000);
            })
            $('.delete-btn').on('mouseup mouseout', function () {
                deleting = false;
                $('.delete-btn').html('<i class="fas fa-trash"></i>');
            })
        })
    </script>
}
