
@{
    ViewData["Title"] = "Browser Not Supported";
}

    <div class="jumbotron">
        <h1 class="display-4">Sorry :-(</h1>
        <p class="lead">This page doesn't work in Internet Explorer.</p>
        <hr class="my-4">
        <p>Please use a modern web browser such as Microsoft Edge, Chrome or Firefox.</p>
    </div>

